mixin resume-card(options)
    .resume
        a(href='#').resume__link
        .resume__head
            .resume__head-left
                .resume__img
                    img(src='assets/images/content/resume-avatar.png' alt='').resume__img-file
                .resume__title
                    h4.resume__name= options.name
                    .resume__location.indent-t--3xs= options.location
            .resume__head-right
                .resume__time.text.text--small= options.time
        .resume__inner
            .resume__desc
                p.text.text--small= options.desc
            .resume__cond
                .resume__salary.indent-r--xs
                    p.h6.resume__salary-local= options.salaryLocal
                    p.text.text--label.resume__salary-usd= options.salaryUsd
                .resume__exp
                    p.h6.resume__salary-local= options.exp
                    p.text.text--label.resume__salary-usd Experience
            .resume__actions
                button.button.button--view--secondary.indent-r--2xs.resume__request Send request
                .resume__fav.js-make-fav
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" class='resume__fav-icon'><g><g><path fill="#c8d0d8" d="M6.281 0C3.098 0 0 2.187 0 6.192 0 10.853 5.57 15.619 12 22c6.43-6.381 12-11.147 12-15.808C24 2.181 20.903.01 17.726.01 15.522.01 13.28 1.052 12 3.248 10.715 1.042 8.478 0 6.281 0z"/></g></g></svg>